.classForm {
    position: relative;
    text-align: center;
    background-color: cadetblue;
    padding: 15px;
    height: 20rem;
    width: 20rem;
    top: 5px;
    left: 40%;
    right: 0px;
    border-radius: 0px 10px 0px 10px;
    color: white;
    font-weight: bolder;
}


.classInput {
    width: auto;
    height: 20px;
    border-radius: 5px 10px;
}

.classInput:hover {
    margin-right: 5px;
    background-color: lavender;
    color: black;
    transition: margin-right ease-in-out;
}

.classSubmit {
 padding: 5px;
 margin-top: 5px;
 border-radius: 0px 10px;
 background-color: black;
 color: white;
 font-weight: bolder;
}

.classSubmit:hover {
 background-color: darkcyan;
 color: black;
 margin-right: 10px;
 transition: margin-right ease-in;
}