.functionForms {
    position: relative;
    text-align: center;
    background-color: darkcyan;
    padding: 15px;
    height: 20rem;
    width: 20rem;
    top: 0px;
    left: 40%;
    right: 0px;
    border-radius: 10px 0px 10px 0px;
    border: 1px solid wheat;
    color: honeydew;
    font-weight: bolder;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    margin-top: 5px;
}

.functionInput {
    width: auto;
    height: 20px;
    border-radius: 10px 5px;
}

.functionInput:hover {
    margin-right: 5px;
    background-color: blanchedalmond;
    color: black;
    transition: margin-right ease-in-out;
}

.functionSubmit {
 padding: 5px;
 margin-top: 5px;
 border-radius: 10px 0px;
 background-color: black;
 color: white;
 font-weight: bolder;
}

.functionSubmit:hover {
 background-color: cadetblue;
 color: white;
 margin-right: 10px;
 transition: margin-right ease-in;
}