.functionForms {
    position: relative;
    text-align: center;
    background-color: darkcyan;
    padding: 15px;
    height: 20rem;
    width: 20rem;
    top: 0px;
    left: 40%;
    right: 0px;
    border-radius: 10px 0px 10px 0px;
    color: honeydew;
    font-weight: bolder;
}